.filter-button-container {
  position: relative;
  display: inline-block;
   background-color: #7241e8 !important;
    box-shadow: 0 4px 15px rgba(114, 65, 232, 0.3) !important; /* Blurry shadow with matching color */
    border: 2px solid #7241e8 !important; /* Change border color */
}
.Button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: #7241e8 !important;
}
.arrow {
  margin-left: 0.5rem;
}
.ListParent {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  background: #7241e8 !important;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 10;
}
.ListItem {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.ListItem.selected,
.ListItem:hover {
  background: #505050;
  border: none;
}
