.Packet-Container {
    background-color: #181818;
    color: #ffffff;
    border-radius: 8px;
    margin: 1rem auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.75);
    overflow: hidden; 
    /* Adding a transition on max-height for smooth open/close */
    transition: max-height 0.5s ease;
    width: 75vw;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
  }
  .Packet-Container span {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  