#root {
  max-width: fit-content;
  margin: 0 auto;
}

/* Global Styles for Inputs */
input, input:focus {
  background-color: rgb(73, 72, 72);
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.85rem;
}

@media (prefers-color-scheme: light) {
  input, input:focus {
    background-color: white;
    color: rgb(41, 50, 213);
  }

}