.Vc-Container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Link-Container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3vh;
    width: 30vw;
    
}
.File-Container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15vh;

}
.FileHistoryContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 200%;
    overflow-x: hidden;
    
}