.Login-Container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Allow child elements to define alignment */
    justify-content: center;
    overflow: visible;
    height: 105%;
    width: 100%;
    place-items: center;
}

.Login-Container .Login-Input {
    align-self: center; /* Center only inputs */
    width: 20rem; /* Custom width */
    height: fit-content; /* Custom height */
    margin-bottom: 5%;
}
.signup-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    height: fit-content;
    margin-top: 1rem;
}
